POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=users
POSTGRES_HOST=db
REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=b78b6b47f7d9abf8bccaaf3294081ebb97f7c4949109f885
CLIENT_ID_GOOGLE=837729989188-5p3o0rg4gnaathu9p0pos92imse55p7h.apps.googleusercontent.com
CLIENT_SECRET_GOOGLE=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
CLIENT_ID_YANDEX=7d1be2e7451c40fcba25ffcdaad3dbdc
CLIENT_SECRET_YANDEX=5b0b1babca504c9989391d54c3243d96
JWT_SECRET_KEY=a97sv3b8r@k&c7gbqad2wyqu3qzm)v+j=94zxtu@gzalqwsxfi