Flask==1.1.2
flask_sqlalchemy
connexion
connexion[swagger-ui]
gevent
Werkzeug==1.0.1
requests==2.23.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Authlib==0.14.1
pyOpenSSL==22.0.0
sqlalchemy
psycopg2-binary
pydantic
pydantic[dotenv]
