POSTGRES_USER=postgres
POSTGRES_GROUP=postgres
POSTGRES_PASSWORD=123qwe
POSTGRES_PORT=5432
POSTGRES_DB=movies_database

DJANGO_SUPERUSER_PASSWORD=admin
SECRET_KEY='django-insecure-)$2t!a_1k15uo7%^+6rdf!@rbw)pzgir=gv3+c8z02l^7pr&um'
DEBUG=False

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=sDf8ad60d

ELASTICSEARCH_ADDRESS=["http://elasticsearch:9200"]

ETL_UPDATES_CHECK_INTERVAL=10
ETL_INITIAL_LOAD_WAIT_SECONDS=60
ETL_INITIAL_LOAD_OBJECTS_COUNT=5191

NETWORK_NAME=common

PATH_TO_ROOT_FROM_TESTS=../../

API_HOST=http://127.0.0.1:8000