psycopg2-binary==2.9.3
asgiref==3.5.0
astor==0.8.1
attrs==21.4.0
autopep8==1.5.7
bandit==1.7.2
certifi==2021.10.8
cfgv==3.3.1
darglint==1.8.1
Deprecated==1.2.13
distlib==0.3.4
Django==3.2
django-config==0.1.4
django-debug-toolbar==3.2.4
django-split-settings==1.1.0
docutils==0.18.1
elastic-transport==8.0.1
elasticsearch==8.0.0
eradicate==2.0.0
filelock==3.4.2
flake8==3.9.2
flake8-bandit==2.1.2
flake8-broken-line==0.3.0
flake8-bugbear==21.11.29
flake8-commas==2.1.0
flake8-comprehensions==3.8.0
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-eradicate==1.2.0
flake8-isort==4.1.1
flake8-polyfill==1.0.2
flake8-quotes==3.3.1
flake8-rst-docstrings==0.2.5
flake8-string-format==0.3.0
gitdb==4.0.9
GitPython==3.1.26
gunicorn==20.1.0
identify==2.4.7
iniconfig==1.1.1
isort==5.10.1
mccabe==0.6.1
nodeenv==1.6.0
packaging==21.3
pbr==5.8.0
pep8-naming==0.11.1
platformdirs==2.4.1
pluggy==1.0.0
pre-commit==2.17.0
py==1.11.0
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
Pygments==2.11.2
pyparsing==3.0.7
pytest==6.2.5
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
redis==4.1.4
restructuredtext-lint==1.3.2
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
sqlparse==0.4.2
stevedore==3.5.0
testfixtures==6.18.3
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.8
virtualenv==20.13.0
wemake-python-styleguide==0.15.3
wrapt==1.13.3
